<div class="py-5 productos-component">
  <div class="container">
    <div class="row">

      <h2 class="text-center text-white p-4">Productos</h2>

      <div class="col-md-4 features-grid spacefeat  text-center">
							
        <div class="service-icon text-center"><img src="	http://www.macperu.com.pe/images/neu.jpg" class="img-circle"></div>

        <h3 class="text-white m-3"><a href="#" class="text-white mt-3">Línea de Automatización Neumática</a></h3>
        <p class="text-white text-center align-texto-info">Mac Peru junto a su socio estrategico UNIVER S.P.A. brinda suministros para la automatizacion industrial, con una amplia gama de equipos que se ajustan a nuestros clientes en todas las industrias</p>
        
        <p>
          <a href="#" class="btn btn-banner mt-3 btn-vermas" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ver más <i class="fa-solid fa-paper-plane"></i></a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card ">          
            

            <div>Some tags before</div>
            <owl-carousel-o [options]="customOptions" >
              <ng-template carouselSlide>Slide 1</ng-template>  
              <ng-template carouselSlide>Slide 2</ng-template>  
              <ng-template carouselSlide>Slide 3</ng-template>  
            </owl-carousel-o>
            <div>Some tags after3</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 features-grid spacefeat  text-center">
							
        <div class="service-icon text-center"><img src="	http://www.macperu.com.pe/images/hidra.jpg" class="img-circle"></div>

        <h3 class="m-3"><a href="#" class="text-white mt-3">Línea de Equipos Hidraulicos</a></h3>
        <p class="text-white text-center align-texto-info">Contamos con una amplia línea de productos y servicios oleohidráulicos, integrado a asesoria técnica que interpreta las necesidades de nuestros clientes, brindando la mejor solución oleohidráulica.</p>
        <a href="#" class="btn btn-banner mt-3 btn-vermas">Ver más <i class="fa-solid fa-paper-plane"></i></a>
      </div>

      <div class="col-md-4 features-grid spacefeat  text-center">
							
        <div class="service-icon text-center"><img src="http://www.macperu.com.pe/images/servimac.jpg" class="img-circle"></div>

        <h3 class="m-3"><a href="#" class="text-white">Servicios</a></h3>
        <p class="text-white text-center align-texto-info">Tenemos experiencia en la industria, por ello trabajamos con personal altamente capacitado, entre los que se encuentran ingenieros y técnicos que plasman su conocimiento para el buen desarrollo de cada proyecto que nuestros clientes deseen llevar a cabo.</p>
        <a href="#" class="btn btn-banner mt-3 btn-vermas">Ver más <i class="fa-solid fa-paper-plane"></i></a>
      </div>
    </div>
  </div>
</div>