.nga-gradient {
    /* padding: 3rem 0; */
    background-image: url("http://www.macperu.com.pe/images/plantillahome-finalpuzzle.jpg");
}


.nga-card-step a {
    color: black;
    text-decoration: none;
}

.nga-card-step a:hover {
    color: #0d6efd;
    text-decoration: none;
}
.carousel-2{
    background-color: red;
}

.picsum-img-wrapper img{
    height: auto;
    border: 0;
    width: 100%;
    min-height: 280px;
}

.carousel-caption h3{
    font-size: 34px;
    font-family: sans-serif;
    color: #024993;
    font-weight: bold;
}

.img-logo-mac{
    position: absolute;
    top: 130px;
    left: 50px;
    border: 0;
    z-index: 50;
    max-width: 230px;
}

.carousel-caption{
    right: 50%;
    bottom: none;
    top: 13.25rem;
    text-align: left;
}

@media (max-width: 500px) {
    .carousel-caption{
        right: 10%;
        top: 5.25rem;

    }
    .carousel-caption h3{
      font-size: 24px;
    }

    .picsum-img-wrapper img{
        border: 0;
        width: 450px;
        min-height: 300px;
    }
}