<div class="container py-5">
  <h2 class="text-center">Clientes</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-amcor.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-creditex.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="http://rintisa.com.pe/">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-rin.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="	http://www.macperu.com.pe/images/logo-modasa.png" alt="" width="300" height="120"></a>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-molicentro.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/tigo.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/text-group.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-megapack.png" alt="" width="300" height="120"></a>
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-kimberly.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-reicolite.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="	http://www.macperu.com.pe/images/logo-wellco.png" alt="" width="300" height="120"></a>
      </div>
      <div class="col-md-3">
        <a class="" href="#">
        <img class="img-responsive text-center" src="http://www.macperu.com.pe/images/logo-artesco.png" alt="" width="300" height="120"></a>
      </div>
      
    </div>
  </div>
  <router-outlet></router-outlet>
</div>