<div class="py-5 nosotros-component">
  <h2 class="text-center mb-5">Nosotros</h2>
  <div class="container nosotros-sec">
    <div class="col-md-6 nosotros-texto text-left">
      <p class="ps-4 px-4">Mac Perú es un grupo de colaboradores dedicados y especializados a la venta, mantenimiento y soporte técnico de equipos de instrumentación, neumáticos e hidráulicos.<br> Brindamos la asesoría que requiere para sus proyectos industriales y compra de suministros. Nuestro servicio post venta esta dedicado a las necesidades del cliente.</p>
            <h4 class="ps-4 px-4">Misión</h4>
            <p class="ps-4 px-4">
           Ser partícipes del éxito de su empresa, brindandoles soluciones y servicios integrales en el desarrollo de su industria.
            </p>
            <h4 class="ps-4 px-4">Visión</h4>
            <p class="ps-4 px-4">
            Ser una comunidad de personas con experiencia y competencias diversas, que persigue con pasión los mejores resultados para la industria.
            <br>

            </p>
      </div>

      <div class="col-md-6 text-center">
					
        <img src="http://www.macperu.com.pe/images/foto-nosotros.jpg" class="img-responsive">
      </div>
  </div>
</div>